#search{
background-image:url('/imgs/sh.jpg');
background-repeat: no-repeat;
background-size: cover;
		    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
#mainnav{
	margin-bottom: 0px;
}
.navbar-default{
		background-color:none;

}
table{
		background-color: #eee;

}
th{
	text-align: right;
}
#sales{
			    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
margin-top: 20px;
}
.sales{

			    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
margin-top: 20px;
}
hr{
background-color: black;}
.media{
	color:#428bca;
	border-top: 1px solid gray;
	padding-top: 3px;
}
.glyphicon-star{
	color:	#ecb939;
}
.promo{
	background-color:#0099cc;
	color:#fff;
	  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
margin-top: 20px;
}
.promo>a{
	text-decoration: none;
	color:#fff;
}

.promo1{
	background-image:url('/imgs/ecommerce.png');
	background-size: cover;
	background-repeat: no-repeat;
	height:250px; 
}
.img-rounded{
	margin-left:3px;
}